In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("D:\Data Science\dataset w7.csv")

In [3]:
df.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

# Descriptive analytics on the dataset

In [8]:
df.describe().T

             count       mean       std   min   25%   50%    75%   max
Total Marks   28.0  32.321429  12.45452  12.0  22.5  33.0  43.25  50.0

# Whether female and male students scored the same marks.

In [9]:
from scipy import stats

In [11]:
male=df.loc[df['Gender']=='male']
female=df.loc[df['Gender']=='female']
t,p=stats.ttest_ind(male['Total Marks'],female['Total Marks'])
print('p value is',p)

p value is 0.4937822317960763

In [13]:
if p<0.05:
    print('Reject null hypothesis\n','female and male students scored the same marks')
else:
    print('Accept null hypothesis\n','female and male students scored the different marks')

Accept null hypothesis
 female and male students scored the different marks

# Whether test preparation helps the students?

In [16]:
none=df[df['Test preparation']=='none']
completed=df[df['Test preparation']=='completed']
t_val,p_val=stats.ttest_ind(none['Total Marks'],completed['Total Marks'])
print('p value is',p_val)

p value is 0.0012671292457320106

In [18]:
if p_val<0.05:
    print('Reject null hypothesis\n',' test preparation helped the students')
else:
    print('Accept null hypothesis\n',' test preparation not helped the students')

Reject null hypothesis
  test preparation helped the students